* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(248, 244, 244);
    padding: 20px;
}

header {
    background: rgb(187, 182, 182);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float:left;
    color:beige;
    text-align:center;
    padding:14px 16px;
    font-size:19px;
}
.topnav a:hover{
    background-color: antiquewhite;
    color:black;
}
.topnav a.active{
    background-color: red;
    color:#fff;
}

.logo{
    position: absolute;
    height: auto;
    left: 50px;
    width: 165px;
    top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    width:275px; 
    
}

footer {
    text-align: left;
    padding: 20px 0;
    background: #333;
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

footer a {
    color: red; /* Set the desired color for regular links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

section {
    margin: 20px 0;
    background-color: rgb(151, 151, 151);
}
