.cart-popup {
    position: fixed;
    top: 100px;
    left: 100%;
    width: 550px;
    background-color: rgb(51, 49, 49);
    height: 800px;
    transition: 0.5s;
    z-index: 3;
    overflow: scroll;
    border-radius: 50px;
}

.cart-popup::-webkit-scrollbar{
    width: 0;
}

.cart-popup h2{
    color: hsl(54, 61%, 73%);
    font-size: 35px;
    padding: 0 20px;
    height: 80px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-popup .checkout{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-popup .checkout div{
    background-color: rgb(163, 157, 157);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cart-popup .checkout div:hover {
    background-color: rgb(81, 175, 105);
}

.cart-popup .checkout div:nth-child(2){
    background-color: rgb(163, 157, 157);
    border-left: 1.5px solid;
}

.cart-popup .checkout div:nth-child(2):hover {
    background-color: rgb(206, 78, 78);
}

.active .cart-popup {
    left: calc(100% - 550px);
    transition: left 0.5s ease;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-details {
    flex-grow: 1;
    text-align: center;
    margin-left: 10px;
}

.cart-item-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}

.name-price-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.cart-item-quantity{
    font-size: 20px;
}

.cart-item-name{
    color: lightskyblue;
}

.cart-item-price{
    color: goldenrod;
}

.cart-item-quantity{
    color: Gainsboro;
}

.remove-item-button, .quantity-button{
    width: 30px;
    height: 30px;
    background: lightslategrey;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: gainsboro;
    margin-right: 8px;
}

.quantity-button{
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 0px;
}

li.cart-item{
    justify-content: center;
}

@media screen and (max-width:425px) {
    .cart-popup {
        left: 100%;
        width: 425px;
        top: 0;
        height: 100vh;
        border-radius: 0;
    }

    .active .cart-popup {
        left: calc(100% - 425px);
    }

    .name-price-container {
        font-size: 17px;
    }
    
    .cart-item-quantity{
        font-size: 17px;
    }
}

@media screen and (max-width:375px) {
    .cart-popup {
        left: 100%;
        width: 375px;
    }

    .active .cart-popup {
        left: calc(100% - 375px);
    }

    .cart-item-image {
        width: 55px;
        height: 55px;
    }

    .name-price-container {
        font-size: 16px;
    }
    
    .cart-item-quantity{
        font-size: 16px;
    }
}

@media screen and (max-width:320px) {
    .cart-popup {
        left: 100%;
        width: 325px;
    }

    .active .cart-popup {
        left: calc(100% - 325px);
    }

    .remove-item-button, .quantity-button{
        width: 15px;
        height: 15px;
        line-height: 18px;
    }

    .cart-item-quantity, .name-price-container{
        font-size: 13px;
    }
}
