.light-blue-section {
    background-color: #b3e0f7;
    justify-content: center;
    text-align: center;
    font-family: 'Tektur', sans-serif;
}

.pink-section {
    background-color: pink;
    text-align: center;
    justify-content: center;
    font-family: 'Tektur', sans-serif;
}

.pink-section2 {
    background-color: pink;
    text-align: center;
    justify-content: center;
    font-family: 'Tektur', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3{
    font-weight: bold;
    font-size: 22px;
}

p{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(20, 20, 20);
}

footer {
    background-color: #313233; /* Dark background for footer */
    color: white; /* White text color */
    text-align: center; /* Center text */
    bottom: 0; /* Ensure footer stays at the bottom */
    width: 100%; /* Full width */
    font-family: 'Tektur', sans-serif;
    height: auto;
}

footer a {
    color: white; /* White links */
    text-decoration: none; /* No underline on links */
    margin: 0 10px; /* Spacing between links */
}

footer p{
    color: white;
}
