#cartContainer {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    text-align: center;
}

#cartContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

#cartContainer img {
    margin-right: 10px;
}

h2{
    justify-content: center;
    text-align: center;
}

.deleteButton, #checkoutButton {
    margin-left: 10px;
    padding: 25px 6px; /* Reduce the padding for smaller buttons */
    background-color: rgb(240, 128, 128);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Adjust font size for smaller text */
}

.deleteButton:hover, #checkoutButton:hover {
    background-color: Red; /* Change color on hover */
}

footer {
    background-color: #313233; /* Dark background for footer */
    color: white; /* White text color */
    text-align: center; /* Center text */
    position: absolute;
    bottom: 0; /* Ensure footer stays at the bottom */
    width: 100%; /* Full width */
    font-family: 'Tektur', sans-serif;
    height: auto;
}

footer a {
    color: white; /* White links */
    text-decoration: none; /* No underline on links */
    margin: 0 10px; /* Spacing between links */
}

footer p{
    color: white;
}